*egg-info
*.pyc
*.o
config.log
src/gubbins
tests/run_all_tests
src/run_all_tests
.DS_Store
src/Makefile
src/.deps
autom4te.cache/*
*.lo
*~
src/.libs/*
src/libPyGubbins_la-PyGubbins.loT
src/libgubbins.la
#Makefile.in
#aclocal.m4
#config.*
#configure
#depcomp
graph
#install-sh
libtool
#ltmain.sh
#missing
run_gubbins.pyc
#src/Makefile.in
stamp-h1
test-driver
external/standard-RAxML/raxmlHPC
external/standard-RAxML/raxmlHPC-SSE3
python/build/scripts-2.7/gubbins_drawer.py
python/build/scripts-2.7/run_gubbins.py
src/run_all_tests.log
src/run_all_tests.trs
src/test-suite.log
tests/data/one_recombination.tre
tests/data/one_recombination.tre.branch_snps.tab
tests/data/one_recombination.tre.gff
tests/data/one_recombination.tre.phylip
tests/data/one_recombination.tre.snp_sites.aln
tests/data/one_recombination.tre.stats
tests/data/one_recombination.tre.tab
tests/data/one_recombination.tre.vcf
python/build/lib/gubbins/__init__.py
python/build/lib/gubbins/common.py
external/fastml/programs/fastml/fastml
external/fasttree/FastTree
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h
config.h.in
config.status
config.sub
configure
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
python/ft_prefix.node_labelled.tre
python/gubbins/tests/data/pairwise.aln.tre.ancestor.tre
python/gubbins/tests/data/pairwise.aln.tre.branch_snps.tab
python/gubbins/tests/data/pairwise.aln.tre.gff
python/gubbins/tests/data/pairwise.aln.tre.output_tree
python/gubbins/tests/data/pairwise.aln.tre.phylip
python/gubbins/tests/data/pairwise.aln.tre.prob.joint.txt
python/gubbins/tests/data/pairwise.aln.tre.seq.joint.txt
python/gubbins/tests/data/pairwise.aln.tre.snp_sites.aln
python/gubbins/tests/data/pairwise.aln.tre.stats
python/gubbins/tests/data/pairwise.aln.tre.tab
python/gubbins/tests/data/pairwise.aln.tre.vcf
python/multiple_recombinations.aln.iteration_1
python/multiple_recombinations.aln.iteration_2
python/multiple_recombinations.aln.iteration_3
python/multiple_recombinations.aln.iteration_4
python/multiple_recombinations.aln.iteration_5.ancestor.tre
python/multiple_recombinations.aln.iteration_5.prob.joint.txt
python/multiple_recombinations.aln.iteration_5.seq.joint.txt
release/.vagrant/machines/default/virtualbox/action_provision
release/.vagrant/machines/default/virtualbox/action_set_name
release/.vagrant/machines/default/virtualbox/id
release/.vagrant/machines/default/virtualbox/index_uuid
release/.vagrant/machines/default/virtualbox/synced_folders
release/private.keypython/gubbins/__pycache__/
