Source: gubbins
Section: misc
Priority: extra
Maintainer: Aidan Delaney <a.j.delaney@brighton.ac.uk>
# fastml, fasttree and raxml are required for the build in order to run the gubbins system tests.
# There are a lot of build dependencies in order to run the system tests.
Build-Depends: fastml2, fasttree, raxml, debhelper (>= 8.0.0), autotools-dev, python-setuptools, zlib1g-dev, check, python-biopython, python-reportlab, python-nose, pkg-config
Standards-Version: 3.9.4
Vcs-Git: https://github.com/andrewjpage/gubbins.git
Vcs-Browser: https://github.com/andrewjpage/gubbins

Package: gubbins
Architecture: any
Recommends: raxml
Depends: fastml2, fasttree, python-biopython, python-reportlab, python-nose, ${shlibs:Depends}, ${misc:Depends}
Description: Phylogenetic analysis of genome sequences
  Gubbins supports rapid phylogenetic analysis of large samples of recombinant bacterial whole genome sequences.
